*{margin: 0;padding: 0; }
body{
	background: #020202;
}

/*Menu*/

.nav-link{
	color: #fff;
}
.top-header~nav.navbar {
    border-block: 1px solid rgb(55, 64, 82, 32%);
}

.nav-item:not(:last-child) {
    margin-right: 20px;
}

.navbar-expand-lg .navbar-nav .nav-item:hover .dropdown-menu {
    max-height: 450px;
    padding: 50px 0;
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-item a {
    color: #fff;
    text-decoration: none;
}

.navbar-expand-lg .navbar-nav .dropdown-menu::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000008f;
    opacity: .9;
    z-index: -1;
}

.navbar-expand-lg .navbar-nav .nav-item:hover .dropdown-menu a {
    color: #fff;
    text-decoration: none;
}

.dropdown-menu .h6 {
    font-weight: 600;
    color: #f8c118;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    width: 100%;
    display: block;
    top: 100%;
    max-height: 0;
    left: 0;
    z-index: 4;
    padding: 0;
    overflow: hidden;
    background: url(../images/megamenu-bg.jpg) center no-repeat;
    background-size: cover;
    border: 0;
    border-radius: 0;
    box-shadow: 0 6px 20px 0 #ffd54f29;
    transition: all .5s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

/* header style */
.offcanvas {
    --bs-offcanvas-width: 320px;
}

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    left: 0;
    top: 78%;
}

.mega-dropdown-menu ul.list-unstyled {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu ul.list-unstyled li a {
    display: inline-block;
    color: #222;
    padding: 3px 5px;
}

.mega-dropdown-menu ul.list-unstyled li a:hover,
.mega-dropdown-menu ul.list-unstyled li a:focus {
    text-decoration: none;
    color: #ffc107;
}

.mega-dropdown-menu .dropdown-header {
    font-size: 18px;
    color: #ffc107;
    padding: 5px 60px 5px 5px;
    line-height: 30px;
    font-weight: 600;
}


/*Menu*/


/*Home Banner*/
.home-banner{
	background: url(../images/bg.webp);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 300px 0px;
	background-position: center;
	position: relative;
}
.banner_content{
	position: relative;
	z-index: 1;
}
.banner_content h1{
	font-size: 4rem;
}
.banner_shape{
	position: absolute;
	left: -15%;
	top: -40%;
}
.banner_shape {
    -webkit-animation: left-right 2s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate;
    -moz-animation: left-right 2s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate;
    -ms-animation: left-right 2s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate;
    -o-animation: left-right 2s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate;
    animation: left-right 2s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate;
}
.banner_shapee {
    -webkit-animation: left-right 2s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate;
    -moz-animation: left-right 2s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate;
    -ms-animation: left-right 2s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate;
    -o-animation: left-right 2s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate;
    animation: left-right 2s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate;
}
@keyframes left-right{
	0% {
    	transform: translateX(30px);
	}
	100% {
    	transform: translateX(0px);
	}
}
.banner_shapee{
    position: absolute;
    right: -15%;
    top: -40%;
}
.banner_shapee img {
    transform: scaleX(-1);
}
.home-banner::after{
	content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: radial-gradient(rgb(202 155 17), rgb(0 0 0));
    left: 0;
    opacity: 0.5;
    z-index: 0;
}
/*Home banner*/


/*Footer*/
.footer-section {
    display: flex;
    padding: 50px 50px 0;
    flex-direction: column;
    align-items: flex-start;
    color: #000;
    background-color: #f9fafb;
}
.social-media-icon a {
    margin-right: 2%;
    font-size: x-large;
    color: black;
}
.col-width h6 {
    color: black;
}
.footer-section li {
    list-style: none;
    font-weight: 300;
    line-height: 27px;
}
.col-width a {
    text-decoration: none;
    color: #000;
    transition-duration: .3s;
}
.footer-section ul {
    padding-left: 0;
}
.col-width a:hover {
    margin-left: 5px;
    transform: translateX(5px);
    color: #FAC211;
}
.copyrights {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.copyrights a {
    color: #000;
    text-decoration: none;
}
.copyrights a:hover {
    color: #fac213;
}
.footer-section p {
    font-size: 14px;
    font-weight: 300;
}












/*Footer*/

.trading_indices .row{
	transform: translateY(-100px);
}
.trading_indices {
/*    transform: translateY(-100px);*/
	background: #020202;
}
.image_box {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    transition: all .5s;
    padding: 30px;
    height: 100%;
    border-radius: 20px 0;
    background: #fff;
}
.factoids_number {
    color: #F9C213;
    margin: 10px 0;
}
.image_caption {
    text-align: center;
}
.image_box:hover {
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
    border-radius: 0;
}
.pointer_heading {
	text-align: center;
	color: #fff;
	font-size: 45px;
}
.banner_para{
	text-align: center;
	color: #fff;
}
























